.div1{
  border:2px solid black;
  width:600px;
  height:300px;
  margin-left:180px;
  margin-top:100px;
  background-color:antiquewhite;
}
.div2{
  /* border:1px solid black; */
  width:400px;
  margin-left:70px;
  margin-top:30px;
  height: 350px;
  border-radius: 4px;
  /* background-color:violet; */

}
.h1{
  text-align:center;
  color:red;

}
.btn{
  /* text-align: center; */
  margin-left:200px;
  margin-top: 20px;

}
.ndiv1{
border:2px solid black;
margin-left:190px;
width:900px;
border-radius: 5px;
height:200px;

}
/* .ndiv2{
  border:2px solid black;
  width:150px;
  height:40px;
  display: flex;
float:left;
margin-left:60px;
margin-top:50px;
border-radius:4px;
text-align: center;
padding-top: 20px;

} */
.adiv{
  border:2px solid black;
  width:900px;
  height:700px;
  margin-left:190px;
  margin-top:10px;
  border-radius:6px;


}

.l1{
  border:1px solid salmon;
  width:90px;
  float:left;
  margin-left:90px;
  margin-top:80px;
  height:30px;
  text-align: center;
  padding-top:10px;

}




.container {
  width: 400px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.review-card {
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.review-card h2 {
  margin: 0;
  color: #222;
}

.rating {
  color: #ff9800;
  font-weight: bold;
}

.comment {
  color: #555;
}
